<div class="d-flex align-items-center vh-100">

	<div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

		<form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">
			<i class="fa fa-users mb-2" style="font-size: 30px;"></i>
			<h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
			<label for="username" class="sr-only">Usuário</label>
			<input
        [(ngModel)]="model.userName"
        name="username"
        type="email"
        id="username"
        class="form-control mb-2"
        placeholder="Usuário"
        required
      >
			<label for="password" class="sr-only">Password</label>
			<input
        [(ngModel)]="model.password"
        name="password"
        type="password"
        id="password"
        class="form-control mb-2"
        placeholder="Senha"
        required
      >
			<button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block mb-2" type="submit">Entrar</button>
			<h3 class="mt-2 mb-2 ">Ou:</h3>
			<a class="btn btn-lg btn-outline-primary btn-block" routerLink="/user/registration">Cadastre-se</a>
		</form>

	</div>

</div>
